<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Garlico.in | {{title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta http-equiv="refresh" content="10">
  <link rel="icon" href="{{base_url}}/images/grlc.png">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{base_url}}/css/custom.css">
  <link rel="stylesheet" href="{{base_url}}/css/normalize.css">
  <link rel="stylesheet" href="{{base_url}}/css/skeleton.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="five columns">
        <img class="nav-logo" alt="Garlicoin" src="{{base_url}}/images/grlc.png">
        <span class="nav-label">Garlico.in</span>
      </div>
    </div>
    
    <div class="row error">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <h1><br />{{title}}</h1>
    </div>

  </div>

  <!-- Render Icon Pack -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

</body>
</html>
